---
layout: default
title: Hojin Ryoo
description: Software Developer at General Motors
---

<style>
.center {
	text-align: center;
}
.center_image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
</style>

<body>
<img src="/imgs/profile.jpg" alt="Profile Picture" style="width:80%;height:80%" class="center_image">

{% for tag in site.tags %}
	{% if tag[0] == "homepage" %}
		{% for post in tag[1] %}
			<div class="center">
				<p>{{ post.excerpt }}</p>
			</div>
		{% endfor %}
	{% endif %}
{% endfor %}
</body>